#edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 2em;
}

h1 span {
  color: var(--clr-accent);
}

#group-form {
  width: 700px;
  margin-top: 0;
  position: relative;
  padding: 2em;
  margin-bottom: 4em;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

#group-form::after {
  z-index: 1;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 1em;
  top: 0;
  left: 0;
  background-color: var(--clr-accent);
  opacity: .4;
}

#group-form *{
  display: block;
  position: relative;
  z-index: 4;
  font-family: 'Cabin', sans-serif;
}

label {
  padding-bottom: 4px;
}

input {
  width: 100%;
  margin-bottom: 2em;
  outline: none;
  padding: 1em;
}

input:focus, input:hover, #description:hover, #description:focus {
  outline: 2px solid var(--clr-accent);
}

#description {
  margin-bottom: 2em;
  padding: 1em;
  height: 160px;
  width: 100%;
  outline: none;
  overflow: auto;
}

#save {
  width: 10em;
  height: 4em;
  border: 2px solid var(--clr-accent);
  border-radius: 100vw;
  text-align: left;
  cursor: pointer;
  background-color: var(--clr-light);
  color: var(--clr-accent);
  text-align: center;
  align-self: center;
}

#error{
  /* position: absolute; */
  text-align: center;
  /* top: -3.5em; */
  color: rgb(139, 17, 17);
}
#group-password {
  position: relative;
  left: 420px;
  top: -58px;
  font-size: 15px;
}

#group-password span {
  font-weight: bold;
  /* text-decoration: underline; */
  border-bottom: 2px solid var(--clr-accent);
}

#error {
  position: absolute;
  top: -4em;
  left: 17em;
  color: rgb(230, 107, 107);
}

#error-new {
  position: absolute;
  top: -6em;
  left: 17em;
  color: rgb(230, 107, 107);
}

#delete-form {
  position: absolute;
  left: 50px;
  top: 120px;
}

#delete-btn {
  width: fit-content;
  height: 4em;
  border: 2px solid var(--clr-accent);
  border-radius: 100vw;
  text-align: left;
  cursor: pointer;
  background-color: rgba(255, 58, 58, 0.479);
  color: black;
  text-align: center;
}

#new-media {
  background-color: rgb(112, 196, 112);
  margin: 15px 0;
  margin-left: 290px;
}

#del-media {
  background-color: rgb(226, 136, 136);
}

#new-media, #del-media {
  display: inline;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px black;
  cursor: pointer;
  color: black;
}

#new-media:hover, #del-media:hover {
  transform: scale(1.1);
}

.platform {
  margin-top: 0;
  margin-bottom: 4px;
  height: 20px;
}

#platform-container {
  margin-bottom: 2em;
}