h1 {
  /* color: var(--clr-accent); */
  text-align: center;
  font-size: 2em;
}

.groups ul {
  padding: 0;
  margin: 0;
}

.group {
  --height: 5em;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: var(--height);
  border-bottom: 1px solid var(--clr-dark);
}

.group * {
  z-index: 2;
}

.group:nth-of-type(2n)::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--clr-accent);
  opacity: .2;
  z-index: 1;
}

.group img {
  /* min/max height and width keeps image square */
  max-height: calc(.8 * var(--height));
  max-width: calc(.8 * var(--height));
  min-height: calc(.8 * var(--height));
  min-width: calc(.8 * var(--height));

  overflow: hidden;
  object-fit: cover;
  margin-left: 1em;
  border-radius: 50%;
  border: 2px solid var(--clr-dark);
}

.group a {
  margin-right: auto;
  font-size: 1.5em;
  margin-left: 1em;
  display: flex;
  align-self: center;
  padding: 1em 0;

}

.people {
  margin-right: 2em;
}