h1 {
  /* color: var(--clr-accent); */
  text-align: center;
  font-size: 2em;
}

.groups {
  position: relative;
}

/* create groups and see old created groups button */
.create-groups-btn, #join-group-btn {
  position: absolute;
  right: 4em;
  top: 0;
  width: 10em;
  height: 4em;
  border: 2px solid var(--clr-accent);
  border-radius: 100vw;
  cursor: pointer;
  background-color: var(--clr-light);
  color: var(--clr-accent);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
}

#join-group-btn {
  left: 4em;
}

.create-groups-btn a, #join-group-btn a {
  font-size: 23px;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  margin-top: .6em;
  text-align: center;
}

#join-group-btn a:hover,  .create-groups-btn a:hover {
  text-decoration: none;
}

#new-group {
  background-color: rgb(169, 240, 169);
}

#new-group a{
  color: rgba(0, 0, 0, 0.61);
}

#group-list {
  padding: 0;
  margin: 0;
  margin-top: 4em;
}

.group {
  --height: 5em;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: var(--height);
  border-bottom: 1px solid var(--clr-dark);
}

.group * {
  z-index: 2;
}

.group:nth-of-type(2n)::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--clr-accent);
  opacity: .2;
  z-index: 1;
}

.group img {
  /* min/max height and width keeps image square */
  max-height: calc(.8 * var(--height));
  max-width: calc(.8 * var(--height));
  min-height: calc(.8 * var(--height));
  min-width: calc(.8 * var(--height));

  overflow: hidden;
  object-fit: cover;
  margin-left: 1em;
  border-radius: 50%;
  border: 2px solid var(--clr-dark);
}

.group a {
  margin-right: auto;
  font-size: 1.5em;
  margin-left: 1em;
  display: flex;
  align-self: center;
  padding: 1em 0;

}

.people {
  margin-right: 2em;
}