#description h1{
   color:black;
   text-align: center;
}
article{
   height: 200px;
   position: relative;
}
article p{
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

section a {
   float:right;
   box-shadow: .5em .5em .4em 0 rgba(66, 60, 60, 0.6);
   color: black;
   background-color: rgb(223, 190, 231);
   padding: .5em;
   border-style: solid;
   border-color: black;
}

h1, h2 {
   /* heading will be at the center */
   color:black;
   text-align: center;
}

#about p{
   /* heading will be at the center */
   color:black;
   text-align: center;
}

