h1 {
  margin-top: 2em;
}

fieldset {
  border: none;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
}

#save {
  width: 10em;
  height: 4em;
  border: 2px solid var(--clr-accent);
  border-radius: 100vw;
  text-align: left;
  cursor: pointer;
  background-color: var(--clr-light);
  color: var(--clr-accent);
  text-align: center;
  align-self: center;
  margin-top: 3em;
}

form {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 700px;
  margin-top: 3em;
  position: relative;
  padding: 2em;
  margin-bottom: 4em;
  z-index: 3;
  justify-content: center;
  position: relative;
}

input {
  width: 100%;
  padding: 1em;
  margin-top: 2em;
}

form::after {
  z-index: 1;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 1em;
  top: 0;
  left: 0;
  background-color: var(--clr-accent);
  opacity: .4;
}

form *{
  /* display: block; */
  position: relative;
  z-index: 4;
}

#join-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#error {
  position: absolute;
  top: -3.5em;
  color: rgb(230, 107, 107);
}