body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/mountain.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
  }

  legend{
      text-align: center;
  }

  /* flex direction: column will make all direct child elements(header, image, words inside the field) of the container go up and down
  row: is left and right */

  #bodyBlock {
    width: 700px;
    margin: auto;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%); 
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
  }
  
  #bodyBlock img {
      height: 200px;
      width: 200px;
      align-self: center;
      border: 1px solid indigo;
      border-width: thick;
      border-style: outset;
  
  }

  #bodyBlock h1 {
    color: white;
    text-align: center;
  }
    /* the textbox where you put in your description  */
  /* color of the output is blue */
  #output {
    margin: 1em 0;
    color: black;
    /* background-color:blue; */
    padding: 1em;
    border: 1px solid #ddd;
  }
  /* where to put the fields */
  fieldset {
    padding-top: 1em; 
    color: white;
  }
  .field {
    width: 120px;
    margin: 0 0.5em 0.5em 0;
    float: left;
    clear: left;
    text-align: right;
  }
  .value {
    margin: 0 0 0.5em 0;
  }
  #save {
    float: right;
  }
  
  input:focus
  {
    background: #fee;
  }
  
  textarea:focus
  {
    background: #fee; 
  }
  
  
  