body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/cloud.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
  }

  #bodyBlock {
    width: 700px;
    margin: auto;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%); 
    font-family: 'Ephesis', cursive;
  }
  
  #bodyBlock h1 {
    color: white;
  }
    /* the textbox where you put in your description  */
  /* color of the output is blue */
  #output {
    margin: 1em 0;
    color: black;
    /* background-color:blue; */
    padding: 1em;
    border: 1px solid #ddd;
  }
  /* where to put the fields */
  fieldset {
    padding-top: 1em; 
    color: white;
    position: relative;
  }
  .field {
    width: 120px;
    margin: 0 0.5em 0.5em 0;
    float: left;
    clear: left;
    text-align: right;
  }
  .value {
    margin: 0 0 0.5em 0;
  }

  #save {
    position: absolute;
    right: 1em;
    bottom: 1em;
  }
  
  input:focus
  {
    background: #fee;
  }
  
  textarea:focus
  {
    background: #fee; 
  }
  
  
  #medias {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .1em;
  }

  #medias > * {
    flex-basis: 48% 
  }

  #new-media {
    display: inline;
    margin-left: 13.5em;
    margin-bottom: .7em;
    margin-top: .7em;
    background-color: rgb(112, 196, 112);
  }

  #del-media {
    background-color: rgb(226, 136, 136);
  }

  #new-media, #del-media {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px black;
    cursor: pointer;
    color: black;
  }

  #new-media:hover, #del-media:hover {
    transform: scale(1.1);
  }

  #img {
    margin: 2em 0;
  }